*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
database/*.sqlite
public/assets
public/index-cn-tower.html
public/index-next.html
research-visualization 2/dist
research-visualization 2/node_modules
FrenchWebsite2/
deployment-package/
.next copy/
out/
out copy/
deploy_staging/
*.sql
*.tar.gz
node_modules/
vendor/
research-visualization 2/node_modules/
storage/framework/views/
